@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rationale&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap');

/* V A R I A B L E S */

:root {
/* Font Families */
  --font-primary: 'Antonio', sans-serif;
  --font-secondary: 'Rationale', monospace;
  --font-special: 'ZCOOL QingKe HuangYou', sans-serif;  

  /* Font sizes  */
  --fsg: 140px; /* Time */
  --fsm: 50px; /* Date */
  --fsd: 30px; /* Stardate & Temp values (CUSTOM)*/
  --fse: 20px; /* Stardate Greetings & Earth (CUSTOM)*/
  --fss: 25px; /* Greetings & Weather widget */
  --fses: 16px; /* Links List */
  --fst: 14px; /* Feels like (CUSTOM) */
  --fstt: 12px; /* Sensor sweep (CUSTOM) */

  /* Light theme  */
  --accent: #C4864B; /* Hover color */
  --bg: #FF910096; /* Background color */
  --sbg: #e4e6e6; /* Cards color */
  --fg: #3a3a3a; /* Foreground color */
  --tp: rgba(0, 0, 0, 0.0); 
  --sfg: #3a3a3a; /* Sceondary Foreground color */
  --glow: 
    1px 1px 2px rgba(0, 0, 0, 0.5),    /* Contrast drop-shadow */
    0 0 8px #3a3a3a;                    /* Central glow */


  /* Image background  */
  /* --imgbg: url(../img/pom.jpg); */
  /* --imgbg: url(../img/starbase1.jpg); */
  /* --imgbg: url(../img/nebula.jpg); */
  --imgbg: url(../img/la_mer.jpg);

  --imgcol: linear-gradient(
    rgba(221 206 240 / 0.7),
    rgba(221 206 240 / 0.7)
  ); /* Filter color */
}

/* Dark theme  */
.darktheme {
  --accent: #261E4180; /* Hover color */
  --bg: #1D1520D3; /* Background color */
  --sbg: #201e21; /* Cards color */
  --fg: #DBCDA6; /* Foreground color */
  --tp: rgba(0, 0, 0, 0.0); 
  --sfg: #444242; /* Secondary Foreground color */
  --imgcol: linear-gradient(
     rgba(21, 7, 52, 0.42), 
     rgba(20 19 19 / 0.76) 
     );  
  /* Filter color */
  --glow: 
    1px 1px 2px rgba(0, 0, 0, 0.5),    /* Contrast drop-shadow */
    0 0 8px #DBCDA6;                    /* Central glow */}

/* S T Y L E S */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-primary);
  transition: 0.2s ease-in-out;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--bg);
  background-image: var(--imgcol), var(--imgbg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

#themeButton {
  position: absolute;
  margin: 2em 2em 0 0;
  right: 0;
  top: 0;
  color: var(--fg);
  border: none;
  cursor: pointer;
  background-color: #00000000;
}

#themeButton__icon {
  width: 25px;
  height: 25px;
}

.container {
  width: 145vh;
  height: 85vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 30px;
  padding: 20px;
}

.card {
  background-color: var(--tp);
}

.timeBlock {
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
}

.weatherBlock {
  grid-column: 3 / span 2;
  grid-row: 1 / span 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

}
.weatherBlock__date {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.weatherBlock__weather {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.weatherBlock__weather #feels-like {
  font-size: var(--fst);
  opacity: 0.8;
  color: var(--fg);
  margin-left: 15px;
}

.weatherBlock__weather #last-updated {
  font-size: var(--fstt);
  opacity: 0.8;
  color: var(--fg);
  margin-top: 5px;
}

.weatherBlock__weather #sun {
  font-size: var(--fst);
  opacity: 0.8;
  color: var(--fg);
  margin-top: 5px;
}

.clock {
  display: flex;
  align-items: center;
  justify-content: center;
}

#hour,
#separator,
#minutes {
  font-size: var(--fsg);
  font-weight: bolder;
  color: var(--fg);
  font-family: var(--font-special);
}

#hour,
#separator,
#minutes, 
#ampm {
  text-shadow: var(--glow);
}

#ampm {
  font-size: var(--fsm);
  font-weight: bold;
  color: var(--fg);
  font-family: var(--font-secondary);
  margin-left: 5px;
}

#gmt {
  font-size: var(--fses);
  font-weight: bold;
  color: var(--fg);
  font-family: var(--font-secondary);
  margin-top: -20px;
  margin-bottom: 2em;
}

#month,
#day,
#year{
  font-size: var(--fsm);
  font-weight: bold;
  color: var(--fg);
  font-family: var(--font-secondary);
}

/* #stardate {
  font-size: var(--fsd);
  font-weight: bold;
  color: var(--fg);  
} */

#earth {
  font-size: var(--fse);
  font-weight: 500;
  color: var(--fg);
}

#day {
  margin-left: 20px;
}

#greetings {
  font-size: var(--fse);
  font-weight: 300;
  color: var(--fg);
  text-align: center;
} 


#stardate {
  font-size: var(--fse);
  color: var(--fg);
  margin-top: 10px;
  font-weight: 300;

}

.weather-icon img {
  width: 80px;
  height: 80px;
}

.temperature-value p {
  font-size: var(--fsd);
  font-weight: bolder;
  margin-left: 15px;
  color: var(--fg);
}

.temperature-description p {
  font-size: var(--fss);
  margin-left: 15px;
  color: var(--fg);
}

.buttonLink {
  grid-row: 3 / span 2;
  grid-column: 1 / span 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 30px;
  padding: 20px;
}

.buttonLink__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--tp);
}

.buttonLink__icon {
  width: 23px;
  height: 23px;
  color: var(--fg);
}

.buttonLink__link-1 {
  grid-row: 1;
  grid-column: 1;
}
.buttonLink__link-2 {
  grid-row: 1;
  grid-column: 2;
}
.buttonLink__link-3 {
  grid-row: 2;
  grid-column: 1;
}
.buttonLink__link-4 {
  grid-row: 2;
  grid-column: 2;
}
.buttonLink__link-5 {
  grid-row: 1;
  grid-column: 3;
}
.buttonLink__link-6 {
  grid-row: 2;
  grid-column: 3;
}
.buttonLink__link:hover {
  background-color: var(--accent);
}
.buttonLink__link:hover svg {
  stroke: var(--sfg);
}

.list {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.list__1 {
  grid-column: 3 / span 2;
  grid-row: 3 / span 2;
}
.list__2 {
  grid-column: 4;
  grid-row: 3 / span 2;
}
.list__head {
  margin-top: 30px;
  margin-bottom: 10px;
  width: 30px;
  color: var(--fg);
  height: 30px;
}
.list__link {
  text-decoration: none;
  font-size: var(--fses);
  color: var(--fg);
  margin-top: 1px;
  padding: 6px 12px;
  border-radius: 5px;
  /* font-weight: bold; */

  text-transform: uppercase;
  letter-spacing: 0.15rem; 
  /* font-weight: 300;   */

}
.list__link:hover {
  background-color: var(--accent);
  color: var(--fg);
}


/* M E D I A - Q U E R I E S */

@media only screen and (max-width: 68.75em) {
  :root {
    --fsg: 100px;
    --fsm: 65px;
    --fss: 20px;
  }

  .container {
    grid-gap: 20px;
    padding: 40px;
  }

  .timeBlock {
    grid-row: 1 / span 2;
    grid-column: 1 / span 4;
  }

  .weatherBlock {
    display: none;
  }

  #greetings {
    font-size: var(--fss);
  }

  .list {
    display: none;
  }

  .buttonLink {
    grid-column: 1 / span 4;
    grid-gap: 20px;
    padding-left: 100px;
    padding-right: 100px;
  }
}
